body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    background: white;
    margin: 10px;
}

img {
    width: 150px;
    border-radius: 50%;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
